header{
    text-align: center;
    background-color: black;
}
body{
    color: antiquewhite;
    background-color: black;
}
.condicionador{
    width: 200px;
}
.creme{
    width: 200px;
}
.toca{
    width: 200px;
}
.pente{
    width: 200px;
}
.lapis{
    width: 200px;
}
.facial{
    width: 200px;
    position: relative;
    left: 45%;
    bottom: 1418px;
}