header{
    text-align: center;
    background-color: black;
}
body{
    color: antiquewhite;
    background-color: black;
}
.condicionador{
    width: 200px;
  
}
.creme{
    width: 200px
    
}
.toca{
    
}
.pente{
    width: 200px;
}
.lapis{
    width: 200px;
}
    

.texto{
    position: relative;
    bottom: 34px;
    right: 45px;
    color: 
}
.unha{
    width: 200px;
   
}
.elementomae{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}
.card{
    border: 2px solid red;
    width: 275px;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: 0.5s;
}
.card:hover{
    background-color: palevioletred;
}
.card img{
    width: 240px;
    border-radius: 10px;
} 
section div button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
button{
    background-color: black;
    border-radius: 5px;
}







*{
    margin: 1px
}
 body{
    background-color: pink
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer"

 }

 header{
    grid-area: header;
    background-color: pink
    ;

 }

 aside{
    grid-area: aside;
    background-color: pink
    width: 
 }
 
 main{
    grid-area: main;
    background-color: pink

 }
 footer{
    background-color: pink}
    .facial{
        width: 300px;
    }

