header{
    text-align: center;
    background-color:pink;
}
body{
    color: black;
    background-color: red;
}


.texto{
    position: relative;
    bottom: 34px;
    right: 45px;
    color: 
}

.elementomae{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}
.card{
    border: 2px solid red;
    width: 275px;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: 0.5s;
}
.card:hover{
    background-color: palevioletred;
}
.card img{
    width: 240px;
    border-radius: 10px;
} 
section div button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
button{
    background-color: black;
    border-radius: 5px;
}







*{
    margin: 1px
}
body{
   background-color: pink;   
   display: grid;
   grid-template-areas: 
   "header header header"
   "aside main main"
   "footer footer footer";
    grid-template-columns: 200px auto auto;
    grid-template-rows: 250px auto 250px;
}

header{
    grid-area: header;

}

aside{
    grid-area: aside;
    background-color: palevioletred;
}
 
main{
    grid-area: main;
    background-color: pink

}
footer{
    grid-area: footer;
    height: 225px;
    position: relative;
    background-color: pink;
    width: 300px;
    
}

.foot img{
    width: 50px;
}

header nav li{
    display: inline;
}

header nav{
    border: 2PX;
    position: absolute;
    right: 30px;
    top: 30px;
}

header nav a{
    text-decoration: none;
    margin-left: 20px;
    background-color: palevioletred;
    color: aliceblue;
    border-radius: 10px;
    padding: 15px;
}
header a:hover{
    background-color:black;
    transition: 1.0s;
}
.botao{
    border-radius: 100px;
    width: 90px;
    height: 25px;
    color: blue;
}
.instagram{
    width: 200px;
}

.facebook{
    width: 50px;
    position: absolute;
    bottom: 65px;
    right: 200px;

}

.yyy{
    width: 50px;
    position: absolute;
    bottom: 32px;
    right: 233;
}